body {
    background-color: black;
    color: white;
    text-align: center;


}

#player_choices {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: blue solid;
}

#player_choices img:hover {
    border: blue solid 6px;
}